<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.luwenjie.lazytv">

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
  <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

  <application
      android:name=".App"
      android:allowBackup="true"
      android:icon="@drawable/ic_strawberry"
      android:label="@string/app_name"
      android:roundIcon="@drawable/ic_strawberry"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      tools:ignore="GoogleAppIndexingWarning">

    <uses-library
        android:name="org.apache.http.legacy"
        android:required="false"/>

    <activity
        android:name=".MainActivity"
        android:launchMode="singleTask">

    </activity>
    <activity
        android:name=".player.PlayerActivity"
        android:launchMode="singleTop"
        android:screenOrientation="landscape"/>
    <activity
        android:name=".SplashActivity"
        android:launchMode="singleTask">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>


    <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
    <meta-data
        android:name="com.google.android.gms.ads.APPLICATION_ID"
        android:value="ca-app-pub-2002896826185542~3452525970"/>


    <!--腾讯广告-->
    <!-- targetSDKVersion >= 24时才需要添加这个 provider。provider 的 authorities 属性的值为 ${applicationId}.fileprovider，请开发者根据自己的 ${applicationId} 来设置这个值 -->
    <provider
        android:name="androidx.core.content.FileProvider"
        android:authorities="me.luwenjie.lazytv.fileprovider"
        android:exported="false"
        android:grantUriPermissions="true">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/gdt_file_path"/>
    </provider>
    <service
        android:name="com.qq.e.comm.DownloadService"
        android:exported="false"/>

    <activity
        android:name="com.qq.e.ads.ADActivity"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
    <activity
        android:name="com.qq.e.ads.PortraitADActivity"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:screenOrientation="portrait"/>
    <activity
        android:name="com.qq.e.ads.LandscapeADActivity"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:screenOrientation="landscape"/>
    <activity android:name=".main.groupmanger.GroupManagerActivity"/>
    <activity android:name=".main.subscribe.channel.ChannelActivity"/>
    <activity
        android:name=".common.webview.WebActivity"
        android:launchMode="singleTop"
        />
  </application>
</manifest>